<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
	<a href="https://imgbb.com/"><img src="https://image.ibb.co/c6JfLK/54678.jpg" alt="54678" border="0"></a>
    <h1>Hello my name is {{ name_saya }}</h1>
    <article>NPM : {{ npm_saya }}</article>
    <article>I am {{ age_saya }} years old</article>
	<h1> </h1>
	<a href="https://imgbb.com/"><img src="https://image.ibb.co/eiKO7z/732639.jpg" alt="732639" border="0"></a>
	<article>Her name is{{ nama_depan}} </article>
	<article>NPM : {{ npm_depan}} </article>
	<article>She is {{ age_depan }} years old</article>
	<article>She is {{ desc_depan}} </article>
	<article>She like to {{ hobi_depan }} </article>
	<h1> </h1>
	<img src="https://pbs.twimg.com/profile_images/1032969675234136065/w8YTwzi6_400x400.jpg" height="300";/>
	<article>Her name {{ nama_belakang }}</article>
	<article>NPM : {{ npm_belakang}} </article>
	<article>She is {{ age_belakang }} years old</article>
	<article>She is {{ desc_belakang}} </article>
	<article>She like to {{ hobi_belakang}} </article>
	
	
</body>
</html>
